# Auto detect text files and perform LF normalization
* text=auto
data/DST_2002_2007.txt filter=lfs diff=lfs merge=lfs -text
data/Kp_ap_Ap_SN_F10_2002_2007.txt filter=lfs diff=lfs merge=lfs -text
data/SOLFSMY.txt filter=lfs diff=lfs merge=lfs -text
data/champ-2002-2007.tar.gz filter=lfs diff=lfs merge=lfs -text
